@font-face {
  font-family: "BCSans-Regular";
  src: url("https://cdn.jsdelivr.net/npm/@bcgov/bc-sans@1.0.1/fonts/BCSans-Regular.woff") format("woff");
}

body {
  font-family: 'Roboto', serif;
  /* background: #202124; */
}

#title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: 'Newsreader', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Newsreader', serif;
}

#mapid {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 55%;
}

.scroll-story {
  position: absolute;
  overflow-y: scroll;
  width: calc(45% - 2em);
  padding: 1em;
  font-size: 2.5rem;
  background-origin: content-box;
  scrollbar-width: none;
  top: 0px;
  left: 0px;
  color: #202124;
}

section {
  height: 100vh;
}

.blurb {
  height: 50vh;
}

.section-image {
  height: 50vh;
  margin: -1em;
  overflow: hidden;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), url("https://live.staticflickr.com/8541/28792855430_2cde82cd33_b.jpg");
}

@media (max-width: 62em){
  .scroll-story {
    top: 50%;
    height: 50vh;
    width: calc(100% - 2em);
  }
  #mapid {
    height: 50vh;
    width: 100%;
  }
  .section-image {
    height: 25vh;
  }

  section {
    height: 50vh;
  }
}
