@font-face {
  font-family: "BCSans-Regular";
  src: url("https://cdn.jsdelivr.net/npm/@bcgov/bc-sans@1.0.1/fonts/BCSans-Regular.woff") format("woff");
}

body {
  font-family: 'Roboto', serif;
  /* background: #202124; */
}

#title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: 'Newsreader', serif;
  font-size: 4.0rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Newsreader', serif;
}

blockquote {
  color: grey;
  style: italic;
  border-left: solid;
  padding-left: 1em;
}

#mapid {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 55%;
}

.scroll-story {
  position: absolute;
  overflow-y: scroll;
  width: calc(45% - 2em);
  padding: 1em;
  font-size: 1.4rem;
  background-origin: content-box;
  scrollbar-width: none;
  top: 0px;
  left: 0px;
  color: #202124;
}

#total-og-count {
  position:fixed;
  right: 1em;
  margin-top: 1em;
  z-index: 100;
  background-color: #ffffffc4;
  font-size: 3rem;
}

#scroll-down-msg {
  position:fixed;
  left: 1em;
  bottom: 1em;
  color: #FEFEFE;
  background: #111111aa;
  transition: visibility 1s, opacity 0.5s ease;
}
section {
  min-height: 70vh;
  margin-bottom: 2em;
  margin-top: 2em;
}

.blurb {
  min-height: 50vh;
}

.section-image {
  height: 30vh;
  margin-left: -1em;
  margin-right: -1em;
  overflow: hidden;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), url("https://live.staticflickr.com/8541/28792855430_2cde82cd33_b.jpg"); /* Default, change inline */
  background-repeat: no-repeat;
  background-size: auto;
}

@media (max-width: 62em){
  .scroll-story {
    top: 50%;
    height: 50vh;
    width: calc(100% - 2em);
  }
  #mapid {
    height: 50vh;
    width: 100%;
  }
  .section-image {
    height: 25vh;
  }

  section {
    height: 50vh;
  }
}
